site_name: VinhData
site_description: Data engineering knowledge base - technical articles, tutorials, and how-to guides
site_author: Vinh Pham
site_url: https://vinhdata.github.io/vinhdata

repo_name: vinhdata
repo_url: https://github.com/vinhdata/vinhdata

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - navigation.indexes
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  icon:
    repo: fontawesome/brands/github

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

# Navigation
nav:
  - Home: index.md
  - Knowledge Base: blog/index.md
  - Tags: tags.md
  - About: about.md

# Plugins
plugins:
  - search
  - tags
  - blog:
      blog_dir: blog
      post_dir: "{blog}/posts"
      categories_allowed:
        - How-To
        - Data Engineering
        - Infrastructure
        - Databases

# Extra
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vinhpham
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/vinhpham

# Copyright
copyright: Copyright &copy; 2026 Vinh Pham
